# 7.데이터 선택(iloc)
- loc -> 이름을 이용하여 원하는 row(행)에서 원하는 col(열)선택
- iloc -> 위치를 이용하여 원하는 row(행)에서 원하는 col(열) 선택

### 주로 사용하는 iloc만 설명

In [4]:
import pandas as pd
df=pd.read_csv("C:/Users/sungb/ML 강의자료/210112_pandas/iris.csv")
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,6.9,3.1,5.4,2.1,2
1,6.7,3.1,4.4,1.4,1
2,5.7,3.0,4.2,1.2,1
3,5.9,3.0,4.2,1.5,1
4,6.3,2.5,4.9,1.5,1
...,...,...,...,...,...
145,5.3,3.7,1.5,0.2,0
146,5.8,2.7,3.9,1.2,1
147,5.7,2.6,3.5,1.0,1
148,6.2,2.9,4.3,1.3,1
149,6.3,3.3,6.0,2.5,2

In [6]:
df.iloc[0]   # 0번째 index에 해당하는 데이터 추출

sepal length (cm)    6.9
sepal width (cm)     3.1
petal length (cm)    5.4
petal width (cm)     2.1
label                2.0
Name: 0, dtype: float64

In [8]:
df.iloc[3]  # 3번째 index에 해당하는 데이터 추출

sepal length (cm)    5.9
sepal width (cm)     3.0
petal length (cm)    4.2
petal width (cm)     1.5
label                1.0
Name: 3, dtype: float64

In [9]:
# 슬라이싱
df.iloc[0:5]  # 0~4번째 위치의 데이터

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,6.9,3.1,5.4,2.1,2
1,6.7,3.1,4.4,1.4,1
2,5.7,3.0,4.2,1.2,1
3,5.9,3.0,4.2,1.5,1
4,6.3,2.5,4.9,1.5,1

In [11]:
# 필여한 행과 열을 동시에 출력
df.iloc[0,1]  # 0 인덱스 & 1번째 column(sepal width) 데이터

3.1

In [12]:
df.iloc[4,2]   # 4번째 인덱스의 2번째 column(petal length) 데이터

4.9

In [14]:
df.iloc[[0,2],2]  # 0,2번째 인덱스의 2번째 column 데이터

0    5.4
2    4.2
Name: petal length (cm), dtype: float64

In [15]:
df.iloc[[0,2],[2,4]]   # 0,2번째 인덱스의 2,4번째 column 데이터

   petal length (cm)  label
0                5.4      2
2                4.2      1

In [16]:
# 슬라이싱 포함해서 원하는 행과 열 추출
# 슬라이싱은 대괄호 포함 필요 없음
df.iloc[1:5,[2,4]]   # 1~4번째 인덱스의 2,4 번째 column 데이터

   petal length (cm)  label
1                4.4      1
2                4.2      1
3                4.2      1
4                4.9      1