# 2. DataFrame
2차원 데이터 (Series 들의 모음)

## Data Frame 객체 생성

In [1]:
# 라이브러리 불러오기
import pandas as pd

In [43]:
# list
temp_mean = [-20,-10,10,20] # 평균기온
temp_low = [-25,-15,5,15]  # 최저기온
temp_high = [-15,-5,15,25]  # 최고기온

In [24]:
temp_mean

[-20, -10, 10, 20]

In [25]:
temp_low

[-25, -15, 5, 15]

In [26]:
temp_high

[-15, -5, 15, 25]

In [44]:
df_temp=pd.DataFrame({
    'temp_low' :[-25,-15,5,15],
    'temp_mean':[-20,-10,10,20],
    'temp_high':[-15,-5,15,25]
    
})

In [45]:
df_temp

   temp_low  temp_mean  temp_high
0       -25        -20        -15
1       -15        -10         -5
2         5         10         15
3        15         20         25

In [46]:
# 열추출
df_temp['temp_low']

0   -25
1   -15
2     5
3    15
Name: temp_low, dtype: int64

In [49]:
# 2가지 이상의 열 (column) 추출
df_temp[['temp_low','temp_high']]   # 대괄호를 하나 더 사용

   temp_low  temp_high
0       -25        -15
1       -15         -5
2         5         15
3        15         25

## DataFrame 객체 생성 (Index 지정)

In [51]:
df_temp=pd.DataFrame({
    'temp_low' :[-25,-15,5,15],
    'temp_mean':[-20,-10,10,20],
    'temp_high':[-15,-5,15,25]},
    index=["1월","2월","3월","4월"])

In [52]:
df_temp

    temp_low  temp_mean  temp_high
1월       -25        -20        -15
2월       -15        -10         -5
3월         5         10         15
4월        15         20         25

## DataFrame객체 생성 (Column 지정)
Data중에서 원하는 열(column)만 선택하거나, 순서 변경 가능

In [57]:
df_temp_2=pd.DataFrame(df_temp,columns=['temp_low','temp_high'])
df_temp_2

    temp_low  temp_high
1월       -25        -15
2월       -15         -5
3월         5         15
4월        15         25

In [58]:
# 순서 변경도 가능
df_temp_3=pd.DataFrame(df_temp,columns=['temp_high','temp_mean','temp_low'])
df_temp_3

    temp_high  temp_mean  temp_low
1월        -15        -20       -25
2월         -5        -10       -15
3월         15         10         5
4월         25         20        15