# 3. index
데이터에 접근할 수 있는 주소값

In [4]:
#list 에서의 인덱스
lst=["A","B"]

In [2]:
lst[0]

'A'

In [3]:
lst[1]

'B'

In [5]:
df_temp=pd.DataFrame({
    'temp_low' :[-25,-15,5,15],
    'temp_mean':[-20,-10,10,20],
    'temp_high':[-15,-5,15,25]},
    index=["1월","2월","3월","4월"])

NameError: name 'pd' is not defined

In [6]:
import pandas as pd

df_temp=pd.DataFrame({
    'temp_low' :[-25,-15,5,15],
    'temp_mean':[-20,-10,10,20],
    'temp_high':[-15,-5,15,25]},
    index=["1월","2월","3월","4월"])

In [7]:
df=df_temp

In [8]:
df.index

Index(['1월', '2월', '3월', '4월'], dtype='object')

# Index 이름 설정

In [9]:
df.index.name="월"
df

    temp_low  temp_mean  temp_high
월
1월       -25        -20        -15
2월       -15        -10         -5
3월         5         10         15
4월        15         20         25

## Index 초기화

In [10]:
df.reset_index()

    월  temp_low  temp_mean  temp_high
0  1월       -25        -20        -15
1  2월       -15        -10         -5
2  3월         5         10         15
3  4월        15         20         25

In [11]:
# 기존의 인덱스를 지우고 싶음
df.reset_index(drop=True)

   temp_low  temp_mean  temp_high
0       -25        -20        -15
1       -15        -10         -5
2         5         10         15
3        15         20         25

In [12]:
df

    temp_low  temp_mean  temp_high
월
1월       -25        -20        -15
2월       -15        -10         -5
3월         5         10         15
4월        15         20         25

In [13]:
# 변경사항을 반영하고 싶음
df.reset_index(drop=True,inplace=True)

In [14]:
df

   temp_low  temp_mean  temp_high
0       -25        -20        -15
1       -15        -10         -5
2         5         10         15
3        15         20         25

* 새로운 객체로 받아줄 수도 있다

## Index 설정
지정한 column으로 index 설정

In [15]:
df.set_index('temp_low')

          temp_mean  temp_high
temp_low
-25             -20        -15
-15             -10         -5
 5               10         15
 15              20         25

In [16]:
df

   temp_low  temp_mean  temp_high
0       -25        -20        -15
1       -15        -10         -5
2         5         10         15
3        15         20         25

In [18]:
# 변경 사항을 반영하고 싶으면 다시 inplace를 true로
df.set_index('temp_low',inplace=True)

In [19]:
df

          temp_mean  temp_high
temp_low
-25             -20        -15
-15             -10         -5
 5               10         15
 15              20         25

## Index 정렬
Index를 기준으로 오름차순, 내림차순 정렬

In [23]:
# 우선 다시 df 생성
# 이번엔 index가 영어로
df_temp=pd.DataFrame({
    'temp_low' :[-25,-15,5,15],
    'temp_mean':[-20,-10,10,20],
    'temp_high':[-15,-5,15,25]},
    index=["Jan","Feb","Mar","Apr"])

In [25]:
df_temp

     temp_low  temp_mean  temp_high
Jan       -25        -20        -15
Feb       -15        -10         -5
Mar         5         10         15
Apr        15         20         25

In [27]:
df=df_temp
df

     temp_low  temp_mean  temp_high
Jan       -25        -20        -15
Feb       -15        -10         -5
Mar         5         10         15
Apr        15         20         25

In [29]:
# 인덱스로 오름차순 정렬
df.sort_index()

     temp_low  temp_mean  temp_high
Apr        15         20         25
Feb       -15        -10         -5
Jan       -25        -20        -15
Mar         5         10         15

In [31]:
# 내림차순 정렬
df.sort_index(ascending=False)

     temp_low  temp_mean  temp_high
Mar         5         10         15
Jan       -25        -20        -15
Feb       -15        -10         -5
Apr        15         20         25