In [8]:
import pandas as pd

In [9]:
df=pd.read_csv("C:/Users/sungb/ML 강의자료/210112_pandas/iris.csv")

In [10]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,6.9,3.1,5.4,2.1,2
1,6.7,3.1,4.4,1.4,1
2,5.7,3.0,4.2,1.2,1
3,5.9,3.0,4.2,1.5,1
4,6.3,2.5,4.9,1.5,1
...,...,...,...,...,...
145,5.3,3.7,1.5,0.2,0
146,5.8,2.7,3.9,1.2,1
147,5.7,2.6,3.5,1.0,1
148,6.2,2.9,4.3,1.3,1
149,6.3,3.3,6.0,2.5,2

## DataFrame 확인
### describe()
계산 가능한 데이터에 대해 Column별로 데이터의 갯수, 표준편차, 최소/최대값 등의 정보를 보여줌

In [11]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

### info()
각 Column별로 데이터의 개수, 결측값, 데이터 타입등의 정보를 보여준다

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   label              150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

### head()
데이터의 위에 값들만 볼 수 있다.

In [14]:
df.head() # default가 5라서 기본적으로 5개만 보여줌

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,6.9,3.1,5.4,2.1,2
1,6.7,3.1,4.4,1.4,1
2,5.7,3.0,4.2,1.2,1
3,5.9,3.0,4.2,1.5,1
4,6.3,2.5,4.9,1.5,1

In [15]:
df.head(7)  # 숫자를 넣어주면 해당 개수만큼의 데이터를 본다

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,6.9,3.1,5.4,2.1,2
1,6.7,3.1,4.4,1.4,1
2,5.7,3.0,4.2,1.2,1
3,5.9,3.0,4.2,1.5,1
4,6.3,2.5,4.9,1.5,1
5,6.4,3.1,5.5,1.8,2
6,4.7,3.2,1.3,0.2,0

### tail()
데이터의 마지막 부분을 보여준다

In [16]:
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
145,5.3,3.7,1.5,0.2,0
146,5.8,2.7,3.9,1.2,1
147,5.7,2.6,3.5,1.0,1
148,6.2,2.9,4.3,1.3,1
149,6.3,3.3,6.0,2.5,2

### columns
컬럼명(변수명)을 확인한다

In [18]:
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'label'],
      dtype='object')

### shape
데이터의 크기 확인

In [19]:
df.shape

(150, 5)

In [20]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,6.9,3.1,5.4,2.1,2
1,6.7,3.1,4.4,1.4,1
2,5.7,3.0,4.2,1.2,1
3,5.9,3.0,4.2,1.5,1
4,6.3,2.5,4.9,1.5,1
...,...,...,...,...,...
145,5.3,3.7,1.5,0.2,0
146,5.8,2.7,3.9,1.2,1
147,5.7,2.6,3.5,1.0,1
148,6.2,2.9,4.3,1.3,1
149,6.3,3.3,6.0,2.5,2

## Series확인(Column 별 확인)
DataFrame의 각 열은 Series로 볼 수 있다.

In [21]:
df['sepal length (cm)']

0      6.9
1      6.7
2      5.7
3      5.9
4      6.3
      ...
145    5.3
146    5.8
147    5.7
148    6.2
149    6.3
Name: sepal length (cm), Length: 150, dtype: float64

In [23]:
df['sepal length (cm)'].describe()

count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: sepal length (cm), dtype: float64

In [25]:
df['sepal length (cm)'].min() # 최솟값

4.3

In [26]:
df['sepal length (cm)'].max()

7.9

In [27]:
df['sepal length (cm)'].nlargest(3)   # sepal length 가 큰 순서대로 3명의 정보를 불러옴

14    7.9
28    7.7
79    7.7
Name: sepal length (cm), dtype: float64

In [29]:
df['sepal length (cm)'].mean()       # 평균

5.843333333333334

In [30]:
df['sepal length (cm)'].sum()        # 총 합

876.5

In [32]:
df['label'].count()                  # 존재하는 데이터의 개수

150

In [34]:
df['label'].unique()                 # 중복을 제외하고 존재하는 것들 확인

array([2, 1, 0], dtype=int64)

In [35]:
df['label'].nunique()                # 중복 없이 존재하는 종류의 수

3

In [37]:
df['label'].value_counts()           # unique 값들 별로 몇개 씩 존재하는지 살펴봄

2    50
1    50
0    50
Name: label, dtype: int64