# 6. 데이터 선택(기본)

In [2]:
import pandas as pd
df=pd.read_csv("C:/Users/sungb/ML 강의자료/210112_pandas/iris.csv")
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,6.9,3.1,5.4,2.1,2
1,6.7,3.1,4.4,1.4,1
2,5.7,3.0,4.2,1.2,1
3,5.9,3.0,4.2,1.5,1
4,6.3,2.5,4.9,1.5,1
...,...,...,...,...,...
145,5.3,3.7,1.5,0.2,0
146,5.8,2.7,3.9,1.2,1
147,5.7,2.6,3.5,1.0,1
148,6.2,2.9,4.3,1.3,1
149,6.3,3.3,6.0,2.5,2

## columns 선택(label)

In [3]:
df['label']

0      2
1      1
2      1
3      1
4      1
      ..
145    0
146    1
147    1
148    1
149    2
Name: label, Length: 150, dtype: int64

In [4]:
df['sepal width (cm)']

0      3.1
1      3.1
2      3.0
3      3.0
4      2.5
      ...
145    3.7
146    2.7
147    2.6
148    2.9
149    3.3
Name: sepal width (cm), Length: 150, dtype: float64

In [5]:
df[['sepal width (cm)','label']]

     sepal width (cm)  label
0                 3.1      2
1                 3.1      1
2                 3.0      1
3                 3.0      1
4                 2.5      1
..                ...    ...
145               3.7      0
146               2.7      1
147               2.6      1
148               2.9      1
149               3.3      2

[150 rows x 2 columns]

## Column 선택 (정수 index 사용)

In [6]:
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'label'],
      dtype='object')

In [7]:
df.columns[0]

'sepal length (cm)'

In [8]:
# label을 가져오고 싶으면
df.columns[4]

'label'

In [10]:
df[df.columns[0]] # 0번째 컬럼의 데이터를 들고오는 것

0      6.9
1      6.7
2      5.7
3      5.9
4      6.3
      ...
145    5.3
146    5.8
147    5.7
148    6.2
149    6.3
Name: sepal length (cm), Length: 150, dtype: float64

In [12]:
df.columns[-1] # -1이 뒤에서부터 첫번째

'label'

In [13]:
df.columns[-2]

'petal width (cm)'

## 슬라이싱
데이터를 끊어서(절단해서) 들고오는 경우 사용

### 슬라이싱 형태
df['컬럼명'][시작점:끝나는 index +1]

In [16]:
df['label'][0:5]  #0~4 까지 데이터를 끊어옴

0    2
1    1
2    1
3    1
4    1
Name: label, dtype: int64

In [18]:
# 다양한 변수에 적용
# 처음 4개의 sepal width와 label출력
df[['sepal width (cm)','label']][:5] # 처음부터이면 0을 굳이 넣지 않아도 됨

   sepal width (cm)  label
0               3.1      2
1               3.1      1
2               3.0      1
3               3.0      1
4               2.5      1